.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_content {
  font-weight: 600;
  text-align: center;
  padding: 0 15px;
}

.login_button {
  display: flex;
  justify-content: center;
}
